html,
body {
  height: 100%;
  font-size: 1rem;
  /* font-color: rgb(85, 75, 75); */
  /* font-family: "Montserrat", sans-serif; */
  /* background-color: black; */
  font-family: kansasnew, serif;
  font-style: normal;
  font-weight: 600;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: kansasnew, serif;
  font-style: normal;
  font-weight: 400;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
}

.always_centered {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
}

.sub-text {
  color: rgb(182, 147, 118)
}

.bg-darker {
  background-color: #13171b!important;
  /* background-color: #abcff3!important; */
}
.responsive-image {
  height: auto;
  width: 100%;
}

.large-first-letter::first-letter {
  font-size: 40px;
  font-weight: bold;
  line-height: .75;
}

.container-flex {
  display:inline-flex;
  flex-wrap:wrap;
}
.flex-direction {
  flex-direction:row;
}

a.navbar-brand {
  display: contents;
}

.gradient1 {
  background: rgb(214,255,48);
  background: linear-gradient(90deg, rgba(214,255,48,1) 0%, rgba(0,246,255,1) 83%);
}

.gradient2 {
  background: rgb(255,100,100);
  background: linear-gradient(90deg, rgba(255,100,100,1) 0%, rgba(214,255,48,1) 47%, rgba(0,246,255,1) 89%);
}

.gradient3 {
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

.page-header {
  margin-top: 4rem;
  font-size: 1.25rem;
  color: #fff;
  margin-bottom: 0;
  margin: 0;
  padding: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
  margin: 0;
  padding: 0;
}

.hr1 {
  border: 0 !important;
  height: 2px !important; 
  background: #095484 !important;
  background-image: linear-gradient(90deg, rgba(214,255,48,1) 0%, rgba(0,246,255,1) 83%) !important;
  opacity: 1.0;
}

.a-grad1 {
  color: #ffffff;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(90deg, rgba(214,255,48,1) 0%, rgba(0,246,255,1) 83%);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.a-lnk {
  color: #ffffff;
}

.circleBase {
  border-radius: 50%;
}

.circleType1 {
  width: 340px;
  height: 340px;
  border: 0px solid blue;
  background-image: linear-gradient(90deg, rgba(214,255,48,1) 0%, rgba(0,246,255,1) 83%);
}

/* ---- reset ---- */ 
/* body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; }  */
.particles-js-canvas-el{ display: block; vertical-align: bottom; } 
/* ---- particles.js container ---- */ 
/* #particles-js{ position:absolute; width: 30%; height: 30%; background-image: linear-gradient(90deg, rgba(214,255,48,1) 0%, rgba(0,246,255,1) 83%); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }  */


/* Gradient Button Link with hover animation */
.popup-button {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  font-size: 0.8em;
  text-transform: uppercase;
  color: black;
  
  /* Button shape & animation */
  border-radius: 48px;
  margin: 0px;
  padding: 0.8em;
  background-size: 100% auto;
  color: black;
  background-image: linear-gradient(90deg, rgba(252, 185, 0, 1) 5%, rgba(255, 105, 0, 1) 95%);
  /* background-image: linear-gradient(90deg, rgba(214,255,48,1) 0%, rgba(0,246,255,1) 50%); */
  transition: 0.4s;
}

.popup-button:hover {
	background-position: right center;
  color: white
}

/* Cards */
/* .col-12 {
  flex: 0 0 auto;
  width: 100%;
} */

.custom-width-70 {
  width: 70%;
  text-align: center;
}
.custom-width-80 {
  width: 80%
}
.custom-width-90 {
  width: 90%
}

.bg-success-bright {
  background-image: linear-gradient(90deg, rgba(214,255,48,1) 0%, rgba(0,246,255,1) 83%);
  color: black;
}

.bg-success-bright-orange {
  background-image: linear-gradient(120deg, rgb(241, 136, 16) 30%, rgba(214,255,48,1) 90%);
  color: black;
}

.card-static {
  text-align: center;
  background-color: rgba(40,47,57,.7803921568627451);
  border-radius: 20px;
  padding: 30px 55px;
  margin: 0 auto;
  /* margin-top: 10px; */
  box-shadow: 0 10px 21px 0 #000;
  /* width: 33%; */
  /* height: calc(90% + 4px); */
  /* height: 500px;
  width: 540px;  */
  min-width: 350px;
  /* max-width: 540px; */
  /* transition: 0.4s; */
  transition: all 0.3s ease-in-out;
  position: relative;
  display: inline-block;

  /* place-content: stretch center; */
  /* -webkit-box-align: center; */
  /* align-items: center; */
  /* display: flex; */
  flex-flow: column wrap;
  flex-direction: column;
  /* -webkit-box-pack: center; */
}

.card-static:hover {
  box-shadow: 0 0 11px rgb(255, 144, 17);
  /* transform: scale(1.2, 1.2); */
}
/* Fade in the pseudo-element with the bigger shadow */
/* .card-static:hover::after {
  opacity: 1;
} */

/* Create the hidden pseudo-element */
/* include the shadow for the end state */
/* .card-static::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
} */

/* Cards - media overrides */
/* @media (max-width: 992px) {
  .custom-width-90 {
    width: 100%
  }
  .card-static {
    padding: 30px 25px;
  }
  .card-static-item-value {
    font-size: 0.9rem;
  }
} */

@media (min-width: 1100px) {
  .col-12 {
      flex: 0 0 auto;
      width: 50%;
  }
}

@media (min-width: 900) {
  .col-md-6 {
      flex: 0 0 auto;
      width: 80%;
  }
}

@media (min-width: 768) {
  .col-md-6 {
      flex: 0 0 auto;
      /* width: 100%; */
  }
}

/* @media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 20%;
  }
} */

.card-static-item {
  margin-bottom: 10px;
}

.card-static-item-title {
  color: #9aa0b6;
  font-size: .66rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card-static-item-value {
  /* font-size: 1rem; */
  /* white-space: nowrap; */
  overflow-wrap: break-word;
}

.card {
  text-align: center;
  background-color: rgba(40,47,57,.7803921568627451);
  border-radius: 20px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 10px;
  box-shadow: 0 10px 21px 0 #000;
  /* width: 33%; */
  height: 120px;
  width: 240px; 
  max-width: 320px;
  transition: 0.4s;
}

.card:hover {
  /* transform: translateY(0); */
  background-image: linear-gradient(90deg, rgba(214,255,48,1) 0%, rgba(0,246,255,1) 83%);
  color: black;
  font-weight: bold;
  transition: 0.1s;
  /* box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px rgb(202, 200, 219),
    inset -20px 0 80px rgb(208, 255, 0),
    inset 20px 0 300px rgb(0, 255, 0),
    inset -20px 0 300px rgb(208, 255, 0),
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px rgb(208, 255, 0); */  
}

.card_focus {
  background-image: linear-gradient(90deg, rgba(214,255,48,1) 0%, rgba(0,246,255,1) 83%);
  color: black;
  font-weight: bold;
  transition: 0.1s;
}

.no-pointer {
  cursor: default;
}

.glow-on-hover {
  /* width: 220px;
  height: 50px; */
  border: none;
  outline: none;
  /* color: #fff; */
  /* background: #111; */
  /* cursor: pointer; */
  position: relative;
  z-index: 0;
  border-radius: 20px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 20px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

/* .glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
} */

/* .glow-on-hover:after {
} */

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/* styling text areas */


.slide-in-bottom{-webkit-animation:slide-in-bottom .2s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom .2s cubic-bezier(.25,.46,.45,.94) both}
/* ----------------------------------------------
 * Generated by Animista on 2021-10-20 17:19:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 @-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}


/* scroll anchors */
#features{
  scroll-margin-top: 150px;
}
#team{
  scroll-margin-top: 250px;
}
#contact{
  scroll-margin-top: 250px;
}

/* main spa specifics */
.h1-grad {
  font-size: 50px;
  font-family: kansasnew, serif;
  font-style: normal;
  font-weight: 600;
  background-image: linear-gradient(70deg,#e9486b,#7c0580, #4f25b1,#070580,#3f6999,#2c9da5,#4ebea2,#bdba03 70%, #d47e2d 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
  color: transparent;

  background-size: 300%;
  background-position: -100%;  

  animation: animatedText 5s infinite alternate-reverse;
}

@keyframes animatedText{
  to{
    background-position: 100%; 
  }
}

.h2-custom {
  font-size: 25px;
  font-family: kansasnew, serif;
  font-style: normal;
  font-weight: 600;
}

.h2-custom-sub {
  font-size: 25px;
  font-family: kansasnew, serif;
  font-style: normal;
  font-weight: 600;
}


@media (min-width: 641px) {
  .intro {
      padding-top: 80px;
  }
}

.intro {
    padding-top: 48px;
}

@media (min-width: 641px) {
  .intro-inner {
      display: flex;
  }
}

/* @media (min-width: 641px) {
  .intro-content {
      min-width: 512px;
      padding-right: 48px;
      width: 512px;
  }
} */
.intro-content {
  width: 100%;
  text-align: center;
}

@media (min-width: 1024px) {
  .intro-content {
      width: 100%;
      text-align: left;
  }
  .centered {
    display: block;
    position: relative;
    align-content: left;
  }
}

.intro-art {
  display: none;
  width: 60%;
}

@media (min-width: 1024px) {
  .intro-art {
      width: 60%;
      display: block;
      position: relative;
      align-content: center;
  }
}


/* antd */

.modalStyle .ant-modal-content{
  background-color: #13171b;
  background-image: linear-gradient(120deg, rgb(241, 136, 16) 30%, rgba(214,255,48,1) 90%);
  border-radius: 20px 20px 20px 20px;
}
.modalStyle .ant-modal-confirm-body .ant-modal-confirm-title{
  color: white;
  font-family: kansasnew, serif;
  font-style: normal;
  font-weight: 600;
}

/* team section */
.margin-bottom-0 {
  margin-bottom: 0px;
}

.navbar-container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1360px;
  margin: 0px auto 20px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 980%;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid.features-full.x4 {
  max-width: 95%;
  margin-right: auto;
  margin-left: auto;
  grid-auto-flow: column;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.features-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 280px;
  padding: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 20px;
  background-color: rgba(40,47,57,.7803921568627451);
  /* box-shadow: 0 16px 32px 0 rgb(19 17 33 / 4%); */
  box-shadow: 0 10px 21px 0 #000;
}

.features-card:hover {
  box-shadow: 0 0 11px rgb(255, 144, 17);
  /* transform: scale(1.2, 1.2); */
}

.features-card-top-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    padding-bottom: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 991px) {
  .navbar-container {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .grid {
    margin-top: 33px;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    justify-items: start;
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .grid.features-full.x4 {
    grid-auto-flow: row;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .features-card {
    width: 100%;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
}

/* ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.social-list {
  list-style: none;
  margin-top: 16px;
  padding: 0;
}

.social-list li {
    display: inline-block;
    font-size: 1.2em;
    position: relative;
} */

#navcontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#navcontainer ul li { display: inline; }

/* #navcontainer ul li a
{
text-decoration: none;
padding: .2em 1em;
} */

.responsive_img {
  max-width: 100%;
  height: auto;
}